# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# PyTorch
*.pt
*.pth

# artifacts
artifacts/

# Data
data/CMAPSSData/

# Editor
.vscode/
.idea/
*.swp

# Logs
*.log

# OS
.DS_Store
Thumbs.db
